body {
  /* background-color: purple; */
  color: black;
  text-decoration: none;
  max-width: 100%;
}

.navbar-brand {
  font-size: 2.3rem;
}
.navbar a:hover {
  border-bottom: 2px #333 solid;
}
.navbar-nav {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

/* .btn:hover {
    transform: scale(0.95);
} */

a {
  text-decoration: none;
  color: black;
  /* padding: 20px; */
}

/* .butt {
    display: flex;
    justify-content: center;
    align-items: center;
} */
#about {
  padding-top: 30px;
  padding-bottom: 30px;
}
#inquire {
  background-color: rgb(218, 219, 219);
  padding: 20px;
  margin: 20px;
}
#contact {
 
}

.ficon {
  padding-top: 20px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 20;
  width: 100%;
  /* background-color: red; */
  color: black;
  text-align: center;
}
/* .ftxt, .sub {
    position:absolute;
}
.sub {
    z-index: 3;
  
.ftxt {
    z-index:1;
 
} */

@media screen and (min-width: 344px) {
  .sub {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 820px) {
    .ctct {
        margin-bottom: 40px;
    }
  .sub {
    /* margin-bottom: 50px; */
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {

  .footertext, .ficon {
    padding-left: 120px;
  }
  .sub {
    margin-bottom: 50px;
  }
}
